{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Notification</h1>
    </div>
    <div>
        <p>
            Hello, {{user.nickname}}.
        </p>
        <p>
            Please, confirm your account.
        </p>
        <a href="{{ url_for('confirm') }}">Resent email</a>
    </div>
</div>
{% endblock %}